@media only screen and (min-width: 1660px) { /**/ }

@media only screen and (max-width: 1660px) { /**/ }

@media only screen and (max-width: 1400px) { /**/
  html { font-size: 9.5px; } }

@media only screen and (max-width: 1300px) { /**/ }

@media only screen and (max-width: 1200px) { /**/ }

@media only screen and (max-width: 1100px) { /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) { /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) { /**/
  html { font-size: 10px; }
  body.bg-main { background: url(../img/patternmob.png) repeat top 0 center; -webkit-background-size: auto auto; background-size: auto; }
  .title--h1 { font-size: 3.6rem; line-height: 4rem; }
  .link--close { width: 1.4rem; height: 1.4rem; }
  .link--close svg { display: block; width: 100%; height: 100%; }
  .link--close svg path { fill: #5B636A; }
  .link--back { position: absolute; top: 1.5rem; left: 1.5rem; display: block; width: 1.6rem; height: 1.6rem; }
  .link--back svg { display: block; width: 100%; }
  .link--toggle { width: 1.8rem; height: 1.2rem; }
  .link--toggle svg { display: block; width: 100%; height: 100%; }
  .link--toggle svg path { -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; fill: #fff; -webkit-transition: 0.24s ease-in; -o-transition: 0.24s ease-in; transition: 0.24s ease-in; }
  .link--toggle svg path:nth-child(2) { opacity: 0; }
  .link--toggle.active svg path:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
  .link--toggle.active svg path:nth-child(2) { opacity: 1; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
  .link--toggle.active svg path:nth-child(3) { -webkit-transform: translateY(1rem); -ms-transform: translateY(1rem); transform: translateY(1rem); opacity: 0; }
  .link--toggle.active svg path:nth-child(4) { -webkit-transform: translateY(-1rem); -ms-transform: translateY(-1rem); transform: translateY(-1rem); opacity: 0; }
  .select .jq-selectbox__select { width: 100%; }
  .section-header { z-index: 11; -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2); box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2); }
  .section-header .header-logo { width: 9rem; }
  .section-header .header-mobile { display: block; }
  .section-header .header-menu { display: none; }
  .section-header .header-lang { display: none; }
  .section-header .header-side .link--login { display: none; }
  .section-header .header-side .link--reg { display: none; }
  .section-header .header-side .link--phone { display: none; }
  .section-main { height: auto; padding-top: 34rem; padding-bottom: 3rem; max-height: initial; background: url(../img/bg/1.svg) no-repeat top 6rem center, url(../img/bg/1_1m.svg) no-repeat center center, -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))); background: url(../img/bg/1.svg) no-repeat top 6rem center, url(../img/bg/1_1m.svg) no-repeat center center, -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); background: url(../img/bg/1.svg) no-repeat top 6rem center, url(../img/bg/1_1m.svg) no-repeat center center, -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); background: url(../img/bg/1.svg) no-repeat top 6rem center, url(../img/bg/1_1m.svg) no-repeat center center, linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); -webkit-background-size: 38rem auto, 19rem 22rem, cover; background-size: 38rem auto, 19rem 22rem, cover; }
  .section-main .main { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .section-main .main .title { text-align: center; }
  .section-main .main .title--h1 { font-size: 3rem; }
  .section-main .main .title--h2 { font-size: 1.8rem; }
  .section-main .main .form-main { margin: 4rem auto 0 auto; max-width: 28rem; }
  .section-main .main .form-main .btn { margin: 3rem auto 0 auto; }
  .section-main .main .form-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; margin-bottom: 5rem; }
  .section-main .main .form-row + .form-row { margin-top: 0; margin-bottom: 3rem; }
  .section-main .main .form-block { margin-bottom: 5rem; }
  .section-main .main .form-block + .form-block { margin-bottom: 0; }
  .section-main .main .form-check { margin-top: 0; }
  .section-who { padding: 3rem 0; }
  .section-who .who-items { margin-top: 4.5rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-who .who-item__img { height: auto; width: 100%; max-width: 15rem; margin: 0 auto; }
  .section-who .who-item__img img { width: 100%; }
  .section-who .who-item h3 { height: auto; font-size: 1.8rem; margin: 1.5rem 0; }
  .section-who .who-item:last-child { margin-top: 3rem; }
  .section-banner { padding: 3rem 0 6rem 0; }
  .section-banner .banner { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .section-banner .banner .link { width: 100%; max-width: 100%; }
  .section-banner .banner .link + .link { margin-top: 1.5rem; }
  .section-how { padding: 4rem 0; }
  .section-how .how-items { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .section-how .how-items .arrow { margin: 3rem 0; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
  .section-how .how-item { max-width: 25rem; }
  .section-how .how-item .title--h3 { font-size: 1.8rem; }
  .section-stat { padding: 6rem 0 0 0; }
  .section-stat .stat-items { margin-top: 3rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-stat .stat-item .title--h1 { font-size: 6.4rem; line-height: 1; }
  .section-stat .stat-item:nth-child(2) { margin: 3rem 0; }
  .section-reviews { padding: 6rem 0 6rem 0; }
  .section-reviews .reviews { padding: 2.5rem 0 0 0; background: #fff; -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2); box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2); -webkit-border-radius: 8px; border-radius: 8px; }
  .section-reviews .reviews-pagination { z-index: 6; }
  .section-reviews .reviews-content { padding: 0 0 2.5rem 0; }
  .section-reviews .reviews-nav { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 8; }
  .section-reviews .reviews-nav .link { z-index: 8; -webkit-transform: none; -ms-transform: none; transform: none; top: initial; bottom: 0; border: none; }
  .section-reviews .reviews-slider { margin-top: 3rem; }
  .section-reviews .reviews-slide { padding: 0 1.5rem; border: none; }
  .section-reviews .reviews-slide__block { padding: 0; width: 100%; margin-top: 2rem; }
  .section-reviews .reviews-slide__block .star-row { margin-top: .75rem; }
  .section-reviews .reviews-slide__name .paragraph { font-size: 1.6rem; }
  .section-reviews .reviews-slide__left { width: 100%; padding-left: 0; }
  .section-reviews .reviews-slide__left .link { margin-top: 1.5rem; }
  .section-reviews .reviews-slide__left .doctor { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
  .section-reviews .reviews-slide__left .doctor-info { width: 100%; max-width: 100%; padding-left: 2rem; }
  .section-reviews .reviews-slide__left .doctor-photo { height: 10rem; max-width: 10rem; -webkit-border-radius: 8px; border-radius: 8px; overflow: hidden; }
  .section-reviews .reviews-slide__left .doctor-photo .paragraph { display: none; }
  .section-reviews .reviews-slide__left .doctor-rate { display: none; }
  .section-reviews .reviews-slide__left .doctor-pos { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; display: none; }
  .section-reviews .reviews-slide__content { padding-bottom: .5rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-deal { display: none; }
  .section-partners { padding: 0 0 3rem 0; }
  .section-partners .partners-items { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0; }
  .section-partners .partners-item { max-width: 50%; width: 100%; margin-bottom: 6rem; }
  .section-partners .partners-item img { margin: 0 auto; max-width: 11rem; width: auto; }
  .section-partners .partners-item:last-child { margin-bottom: 0; }
  .section-partners .partners-item:nth-last-child(2) { margin-bottom: 0; }
  .section-record { padding: 6rem 0; }
  .section-footer { padding: 3rem 0 1.5rem 0; }
  .section-footer .footer-row { margin-top: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .section-footer .footer-mid { padding-top: 0; -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .section-footer .footer-mid .btn { font-size: 1.1rem; padding: 1.15rem 0 1.35rem 0; max-width: 15rem; }
  .section-footer .footer-right { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .section-footer .footer-left { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .section-footer .footer-left .link { max-width: 6rem; }
  .section-footer .footer-left .paragraph { display: none; }
  .section-footer .footer-links { display: none; }
  .section-footer .footer-logo { display: none; }
  .section-mobile { padding-top: 6rem; background: #1B65B9; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 10; -webkit-transition: 0.24s ease-in; -o-transition: 0.24s ease-in; transition: 0.24s ease-in; opacity: 0; visibility: hidden; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); }
  .section-mobile.open { opacity: 1; visibility: visible; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
  .section-mobile .wrapper { overflow: auto; }
  .section-mobile .mobile { padding-bottom: 3rem; }
  .section-mobile .mobile-footer { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; padding: 0 1rem; }
  .section-mobile .mobile-footer__logo { width: 13rem; }
  .section-mobile .mobile-footer__text .paragraph { font-size: 1.3rem; line-height: 1.8rem; }
  .section-mobile .mobile .link--phone { text-align: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; font-size: 1.6rem; margin-bottom: 3rem; }
  .section-mobile .mobile-lang { width: 7.5rem; padding: 0 0; -webkit-transition: 0.24s ease-in; -o-transition: 0.24s ease-in; transition: 0.24s ease-in; margin: 3rem auto; }
  .section-mobile .mobile-lang .jq-selectbox__select { font-size: 1.6rem; line-height: 3rem; }
  .section-mobile .mobile-lang .jq-selectbox__select-text { font-size: 1.6rem; padding: 0 1.5rem; }
  .section-mobile .mobile-lang .jq-selectbox__trigger { right: 1.5rem; }
  .section-mobile .mobile-btns { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .section-mobile .mobile-btns .link { height: 6rem; max-width: 50%; width: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; border: 2px solid #FFFFFF; -webkit-border-radius: 8px; border-radius: 8px; padding: 0; }
  .section-mobile .mobile-btns .link svg { display: block; width: 3.2rem; margin-right: 1rem; }
  .section-mobile .mobile-btns .link span { display: block; font-size: 1.6rem; }
  .section-mobile .mobile-btns .link + .link { margin-left: 1.5rem; }
  .section-mobile .mobile-btns .link:only-child { max-width: 100%; }
  .section-mobile .mobile-menu { padding: 1.5rem 0; margin: 0; list-style: none; }
  .section-mobile .mobile-menu li .link { padding: 1.5rem 1rem; font-size: 1.8rem; text-transform: uppercase; line-height: 1; }
  .section-accept { padding: 6rem 0; }
  .section-reg .reg-form { position: relative; padding: 3rem 1.5rem 2rem 1.5rem; }
  .section-reg .reg-form__head .paragraph { font-size: 1.8rem; }
  .section-reg .reg-form form { margin-top: 5rem; }
  .section-reg .reg-form .form-col .form-check { margin-bottom: 2rem; }
  .section-reg .reg-form .form-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-reg .reg-form .form-row.special .form-col:nth-child(1) { margin-bottom: 2rem; }
  .section-reg .reg-form .form-block { margin-bottom: 5rem; }
  .section-reg .reg-form .form-block__phone .link--add { margin-top: 3rem; }
  .section-reg .reg-form .form-block:last-child { margin-bottom: 0; }
  .section-about { padding-bottom: 6rem; min-height: initial; }
  .section-about .partners { margin: 6rem 0 6rem 0; }
  .section-about .partners-items { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0; }
  .section-about .partners-item { max-width: 50%; width: 100%; margin-bottom: 6rem; }
  .section-about .partners-item img { margin: 0 auto; max-width: 11rem; width: auto; }
  .section-about .partners-item:last-child { margin-bottom: 0; }
  .section-about .partners-item:nth-last-child(2) { margin-bottom: 0; }
  .section-about .about .title--h2 { font-size: 2.4rem; }
  .section-about .about-form h2.title--h2 { font-size: 1.8rem; line-height: 3rem; }
  .section-about .about-form p.title { display: none; }
  .section-about .about-form .btn--search { display: block; margin: 2rem auto 0 auto; }
  .section-about .about-exert { margin: 3rem 0; padding: 2rem 1.5rem; background: #fff; }
  .section-about .about-exert p.title--h2 { font-size: 2rem; line-height: 3.4rem; margin-bottom: 1.5rem; }
  .section-about .about-text { margin-top: 1.5rem; }
  .section-about .about-text .paragraph { font-size: 1.6rem; line-height: 2.4rem; }
  .section-about .stat { margin: 0; padding: 3rem 0; }
  .section-about .stat-items { margin-top: 3rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-about .stat-item .title--h1 { font-size: 6.4rem; line-height: 1; }
  .section-about .stat-item:nth-child(2) { margin: 3rem 0; }
  .section-article { padding-bottom: 3rem; }
  .section-article .article-recent { margin-top: 3rem; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-article .article-recent__item { margin-bottom: 3rem; }
  .section-article .article-recent__item .paragraph { line-height: 2.4rem; }
  .section-article .article-recent__item:last-child { margin-bottom: 0; }
  .section-article .article .title--h3 { font-size: 1.8rem; }
  .section-article .article .paragraph { font-size: 1.6rem; }
  .section-article .article-content .paragraph { font-size: 1.6rem; line-height: 2.4rem; }
  .section-article .article-content .paragraph + .paragraph { margin-top: 1.8rem; }
  .section-article .article-content .banner { padding: 3rem 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-article .article-content .banner .link + .link { margin-top: 1.5rem; }
  .section-blog { padding-bottom: 3rem; min-height: initial; }
  .section-blog .blog .pagination { margin-top: 3rem; }
  .section-blog .blog .banner { display: none; }
  .section-blog .blog-items:not(:first-child) { margin-top: 3rem; }
  .section-blog .blog-item { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; margin-bottom: 3rem; }
  .section-blog .blog-item:last-child { margin-bottom: 0; }
  .section-blog .blog-item__content .title--h3 { font-size: 1.8rem; margin: 1rem 0 1.5rem 0; }
  .section-blog .blog-item__content .paragraph { font-size: 1.6rem; line-height: 2.4rem; }
  .section-blog .blog-item__img { margin-bottom: 1.5rem; }
  .section-contact { padding-bottom: 3rem; }
  .section-contact .contact { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-contact .contact-map { margin-bottom: 3rem; }
  .section-contact .contact-map__item { width: 100%; }
  .section-contact .contact-map__item + .contact-map__item { margin-left: 0; margin-top: 3rem; }
  .section-contact .contact-map__row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-faq { padding-bottom: 3rem; min-height: initial; }
  .section-faq .faq-item { padding-bottom: 1.5rem; margin-bottom: 1.5rem; }
  .section-faq .faq-item__head { padding: 0 2rem 0 0; }
  .section-faq .faq-item__head h3 { font-size: 1.8rem; }
  .section-faq .faq-item__content { padding-left: 0; }
  .section-faq .faq-item__content .paragraph { font-size: 1.6rem; line-height: 2.4rem; }
  .section-doctorpage .doctorpage-info { padding-bottom: 3rem; }
  .section-doctorpage .doctorpage-info__top { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; margin-bottom: 1.5rem; }
  .section-doctorpage .doctorpage-info__form { margin-left: 0; max-width: 100%; }
  .section-doctorpage .doctorpage-info__credits { width: 100%; padding: 3rem 1.5rem 1.5rem 1.5rem; margin: 0 0 1.5rem 0; background: #fff; -webkit-border-radius: 8px; border-radius: 8px; }
  .section-doctorpage .doctorpage-info__bottom { width: 100%; padding: 3rem 1.5rem 1.5rem 1.5rem; margin: 0 0 0 0; background: #fff; -webkit-border-radius: 8px; border-radius: 8px; }
  .section-doctorpage .doctorpage-info__bottom .paragraph { font-size: 1.6rem; }
  .section-doctorpage .doctorpage-banner { display: none; }
  .section-doctorpage .doctorpage-reviews { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .section-doctorpage .doctorpage-reviews__btn { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .section-doctorpage .doctorpage-reviews__btn .link { position: static; -webkit-transform: none; -ms-transform: none; transform: none; margin-top: 3rem; }
  .section-doctorpage .doctorpage-reviews__block { max-width: 100%; width: 100%; }
  .section-doctorpage .doctorpage-reviews__block .star-row { margin-right: .5rem; }
  .section-find { padding-bottom: 3rem; min-height: initial; }
  .section-find.oth .find .pagination { margin-top: 3rem; }
  .section-find.oth .find .banner { margin: 3rem 0 0 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-find.oth .find .banner .link { width: 100%; }
  .section-find.oth .find .banner .link + .link { margin-top: 1.5rem; }
  .section-find .find .find-filter { margin: 3rem 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .section-find .find .find-filter__side { margin-top: 3rem; width: 100%; }
  .section-find .find .find-filter__side .form-block { max-width: 100%; width: 100%; }
  .section-find .find .find-filter__side .link--filter { display: none; }
  .section-find .find .find-form h2 { font-size: 1.8rem; line-height: 3rem; }
  .section-find .find .find-form p.title--h2 { display: none; }
  .section-find .find .find-form .btn { display: block; margin: 0 auto; }
  .section-find .find .banner { margin: 3rem 0 3rem 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .section-find .find .banner .link { width: 100%; }
  .section-find .find .banner .link + .link { margin-top: 1.5rem; }
  .section-find .find .pagination { margin-top: 3rem; }
  .section-find .find-item { margin-bottom: 1.5rem; }
  .section-find .find-item:nth-last-child(2) { margin-bottom: 1.5rem; }
  .section-find .find-item:nth-last-child(3) { margin-bottom: 1.5rem; }
  .section-find .find-item .doctor-bottom .paragraph.sm { margin-top: 2.5rem; }
  .section-find .find-item .doctor-info .doctor-pos { margin-top: 1rem; }
  .section-find .find-item .doctor-photo { height: 16rem; max-width: 15.5rem; }
  .section-find .find-item .doctor-head { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .datepickers-container { z-index: 14; }
  .breabcrumbs { margin: 3rem 0; }
  .breabcrumbs .link { padding-right: 1rem; }
  .breabcrumbs .link:nth-child(1) { padding-left: 3rem; background: url(../img/bg/back.svg) no-repeat center left; -webkit-background-size: 1.6rem 1.6rem; background-size: 1.6rem 1.6rem; }
  .breabcrumbs .link:not(:first-child) { padding-left: 1.5rem; }
  .breabcrumbs .link.current { display: none; }
  .form-overlay { opacity: 0; visibility: hidden; -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); z-index: -1; position: fixed; top: 0; padding: 0 1.5rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; left: 0; width: 100%; -webkit-transition: opacity 0.24s ease-in, visibility 0.24s ease-in; -o-transition: opacity 0.24s ease-in, visibility 0.24s ease-in; transition: opacity 0.24s ease-in, visibility 0.24s ease-in; height: 100vh; background: rgba(35, 31, 32, 0.55); }
  .form-overlay.open { opacity: 1; visibility: visible; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); z-index: 12; }
  .form-page { background: #fff; -webkit-border-radius: 8px; border-radius: 8px; padding: 3rem; }
  .form-page .btn { width: 100%; max-width: 100%; }
  .form-page__mob { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 5rem; width: 100%; }
  .form-page__mob h3 { font-size: 1.8rem; }
  .form-page .form-check { margin: 3rem 0; }
  .form-page .form-block { margin-right: 0; width: 100%; margin-bottom: 5rem; }
  .form-page .form-block:last-child { margin-bottom: 0; }
  .form-page .form-rows { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .form-page .form-row { width: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .form-page .form-row + .form-row { margin-top: 5rem; } }

@media only screen and (max-width: 330px) { /**/
  html { font-size: 9px; } }
